<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>882426821019-fqqjs73b92375g5g5rhsbpao9fpregnq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.882426821019-fqqjs73b92375g5g5rhsbpao9fpregnq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>882426821019-fl7ksdn1j64d3lmdf3qrl1qdksfnq6oq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA5vS2iF-ci4sVVg2uS4EK4Pm1lORjNo6M</string>
	<key>GCM_SENDER_ID</key>
	<string>882426821019</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.arma.daftaralmuqawit</string>
	<key>PROJECT_ID</key>
	<string>daftaralmuqawit</string>
	<key>STORAGE_BUCKET</key>
	<string>daftaralmuqawit.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:882426821019:ios:ad2543deb60ca7f7d3093e</string>
</dict>
</plist>